body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #FFFFFF;
}

header {
    background: linear-gradient(135deg, #1f4037, #99f2c8);
    color: white;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-content {
    max-width: 800px;
}

header h1 {
    margin: 0;
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
    font-weight: 300;
}

section {
    padding: 20px;
    margin: 20px auto;
    background-color: #1E1E1E;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    max-width: 800px;
}

h2 {
    color: #99f2c8;
    margin-bottom: 10px;
    border-bottom: 2px solid #99f2c8;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills ul li {
    background: #333;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    color: #99f2c8;
    font-weight: 500;
}

.experience-item,
.project-item {
    margin-bottom: 20px;
}

.contact p {
    margin: 10px 0;
    font-size: 1.1em;
}

.contact a {
    color: #99f2c8;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px;
    background: #1f4037;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}
